

.container {
  max-width: 960px;
  background:rgb(252, 230, 190);
  margin: auto;

}




.imagecamera{
  height: 150px;
  width: 150px;
  border-radius: 10px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 30px;
}


  
.descriptionarticle{
  width: 40%;
  height: 300px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0 0 5px silver;
  display: block;
  position: relative;
  text-decoration: none;
  text-align: center;
  color: black;
}

